# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*
.pnpm/
.pnp.cjs
.pnp.js
.pnp.loader.mjs

# Logs
logs/
*.log
logs/*.log

# Environment variables
.env
.env.local
.env.*.local

# OS-specific files
.DS_Store

# Debugger configurations
.vscode/
.idea/

# Build files
dist/
build/

# Temporary files
tmp/
temp/
*.tmp
*.temp

# Test coverage and reports
coverage/
.nyc_output/

# Dependency directories
node_modules/
bower_components/

# Miscellaneous
*.swp
*.swo
